.task {
    margin: 10px auto;
    background: rgb(0 123 255 / 3%)!important;
}

.task > div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.actionButton {
    margin: 5px;
}

.selected {
    border: 1px solid red;
}

.selected > div {
    box-shadow: #ff000024 0px 7px 29px 0px;
}

.date {
    font-size: 14px;
    margin-bottom: 0;
}

.checkbox {
    justify-content: flex-end;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.doneStatus {
    color: #28a745;
}

.activeStatus {
    color: #007bff;
}

