.task {
    margin: 10px auto;
    background: rgb(0 123 255 / 3%)!important;
}

.actionButton {
    margin: 5px;
}

.selected {
    border: 1px solid red;
}

.date {
    font-size: 14px;
}

.checkbox {
    justify-content: flex-end;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
}

.doneStatus {
    color: #28a745;
}

.activeStatus {
    color: #007bff;
}