.wrapper {
    margin-top: 40px;
}

.message {
    align-items: center;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.message.first {
    background: #475967;
}

.message.second {
    background: rgb(0 123 255 / 3%);
}

.rowWrapper {
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.massageBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.messageIcon {
    font-size: 140px;
}


.formBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}

.formBlock h1, .formGroup {
    width: 100%;
}

.formBlock h1 {
    color: #0f6674;
    margin-bottom: 20px;
    font-size: 50px;
}

.buttonSend {
    display: block!important;
    margin: 30px auto 0 auto;
}

.hideRequired{
    opacity: 0;
    transform: translateY(-5px);
    font-size: 12px;
    color: #dc3545;
}

.showRequired {
    font-size: 12px;
    color: #dc3545;
    opacity: 1;
    transform: translateY(0);
    transition: all .5s ease-in-out;
}


@media (max-width: 1200px) {
    .messageIcon {
        font-size: 120px;
    }
}

@media (max-width: 991px) {
    .messageIcon {
        font-size: 110px;
    }
}

@media (max-width: 798px) {
    .messageIcon {
        font-size: 100px;
    }
}

@media (max-width: 576px) {

    .messageIcon {
        font-size: 100px;
    }

    .message.first{
        display: none;
    }
}










