.task {
    margin: 10px auto;
    background: rgb(0 123 255 / 3%)!important;
}

.task > div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.full {
    font-size: 20px;
    margin-top: 30px;
}

.date {
    font-size: 14px;
    margin-bottom: 0;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
} 

.actionButton {
    margin: 5px;
}

.doneStatus {
    color: #28a745;
}

.activeStatus {
    color: #007bff;
}


.main {
    min-height: calc(100vh - 311px);
}

@media (max-width: 991px) {
    .main {
        min-height: calc(100vh - 307px);
    }
    
}






